<h1>CONTACTS PAGE</h1>
<% @contacts.each do |contact | %>
<ul >
    <li>
        <a href="/show_contact/<%=contact.id %>" ><%=contact.first_name%> <%=contact.last_name %></a> 
     <!-- <%= "#{contact.id} #{contact.first_name} #{contact.last_name}" %> -->
    </li>
</ul>

<% end %>
